.NotFound {
    font-size: 2rem;
    font-family: "Britannic Bold";
    text-align: center;
}
.skyline-error-logo-img {
    max-width: 200px;
    text-align: center;
    margin: 0 auto;
}
.error-home-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #000;
    text-decoration: none;
    background-color: rgb(201, 23, 23);
    border-radius: 6px;
    transition: background-color 0.3s;
    color: #fff;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 1.8rem;
    margin-top: 20px;
    padding: 10px 20px;
}
.error-home-button:hover {
    background-color: #fc4848;
}
.not-found-container {
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    padding: 1rem 0.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.error-description {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    color: #3b3b3b;
}
@media screen and (min-width: 320px) and (max-width: 640px) and (orientation: portrait){
    .skyline-error-logo-img {
        max-width: 170px;
    }
    .error-home-button {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 320px) and (orientation: landscape) {
    .skyline-error-logo-img {
        max-width: 150px;
    }
    .error-home-button {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 320px) and (orientation: portrait) {
    .skyline-error-logo-img {
        max-width: 150px;
    }
    .error-home-button {
        font-size: 1rem;
    }
}
